.navbar {
    font-family: 'Outfit';
    align-items: center;
}

.navbar-brand {
    align-items: center;
    gap: 1em;
}

.navbar-link {
    background: rgb(2,0,36);
    background: linear-gradient(52deg, rgb(107, 39, 253) 20%, rgb(73, 1, 230) 100%); 
    transition: background-size 0.3s ease-in-out;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    padding: 5px;
    border-radius: 10px;
}

.navbar-link:hover {
    background-size: 100% 100%;
}