/* Manages the background among other properties of the navbar */
.navbar {
    min-height: 75px;
    display: flex;
    background-color: #2E2F2F;
    font-family: 'Outfit';
    align-items: center;
}

/* Manages properties with the logo and properties of that */
.navbar_header {
    display: flex;
    gap: 1em;
    align-items: center;
    margin-left: 2em;
}

.navbar_header h1 {
    font-size: 2em;
    font-weight: 700;
    color: #ffffff;
}

@media screen and (prefers-color-scheme: light) {
    .navbar {
        background-color: rgb(238, 238, 238);
    }
    .navbar_header h1 {
        color: #000000;
    }
    
}