---
import '../css/main.css'
import '../css/index.css'
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'
// import {TrustedOrganizations} from "../components/TrustedOrganizations.tsx"
// import {Research} from "../components/Research.tsx"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Horizon Labs</title>
	</head>
	<body>
		<Navbar classes="dark:bg-[#3b3b3b] bg-[white] w-[100%]" />
		<div class="front dark:bg-[#3b3b3b] bg-[white]">
			<div class="flex md:w-[60%] ml-4 tagline text-black dark:text-white flex-col gap-1">
				<h1 class="lg:text-[4em] text-[2.6em] sm:text-[3.5em] font-bold">Empowering students to <span class="bg-gradient-to-br from-purple-600 to-blue-500 rounded-md pl-4 pr-4 text-white">succeed</span> through research and competitions.</h1>
			</div>
		</div>
		<div class="font-[Outfit] bg-gradient-to-tr from-green-800 to-green-500 text-white p-5 justify-center align-middle flex flex-col">
			<h1 class="text-[45px] font-[600] lg:w-[65%]">Conducting programs, research, and building tools that <u class="font-black">matter</u>.</h1>
			<p class="text-[17px] w-[65%]">Ever since our founding, we have been building tools that empower organizations and conduct research and do programs for students to be able to do their best as a result of the changes within the education system and students not being interested to pursue STEM categories.</p>
		</div>
		<!-- <TrustedOrganizations client:load /> -->
		<Footer />
	</body>
</html>
