---
import '../css/main.css'
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'
// import {TrustedOrganizations} from "../components/TrustedOrganizations.tsx"
// import {Research} from "../components/Research.tsx"
---

<html lang="en">
    <head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <title>Horizon Software</title>
    </head>
    <body>
        <div class="bg-gradient-to-tr from-[#4865ab] to-[#2665fc] text-white p-9 min-h-[50vh] gap-4 flex flex-col justify-between">
    		<Navbar classes="bg-[inherit] w-[100%]" />
            <div class="mt-6 mb-9 flex align-middle self-center">
                <h1 class="font-[SourceCodePro] font-semibold text-[4em] w-[50%]">Software for <span class="font-black italic">Everyone</span>, even you, to utilize.</h1>
            </div>
        </div>    
        <Footer />
    </body>
</html>