---
import '../css/main.css'
import '../css/components/navbar.css'
---

<html lang="en">
	<body>
        <nav class="navbar dark:bg-[#303030] bg-[#bfbfbf] dark:text-white flex justify-center gap-[1em] p-[0.75em]">
            <div class="navbar-brand flex flex-row">
                <img src="logo.png" width="50" height="50" />
                <h1 class="font-black text-[25px]">Horizon Labs</h1>
            </div>
            <ul class="navbar-links flex flex-row gap-[10px]">
                <li><a href="#company" class="navbar-link">Organization</a></li>
            </ul>
        </nav>
	</body>
</html>
