/* Mobile compatibility is a separate file */

.about_content {
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5em;
}

.about_content h1 {
    font-weight: 800;
    font-size: 2.5em;
}


.about_background {
    align-items: center;
    justify-content: space-between;
}

.join {
    align-items: center;
}

.join_card {
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.form_input {
    flex-direction: column;
    gap: 1em;
}

.form_input label {
    margin-left: 0.5em;
}

.core_story {
    display: flex;
    align-items: center;
}

.core_story .content {
    display: flex;
    flex-direction: column;
}

.principles {
    align-items: center;
}