.tagline {
    animation: show forwards 990ms;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* animation: show forwards 1.1s; */
}
/* 
@keyframes show {
    from {
        transform: translateX(-200%);
    }
    to {
        transform: translateX(0%);
    }
} */

.front {
    display: flex;
    flex-direction: column;
    min-height: 75vh;
    justify-content: center;
}

.about_tagline {
    background: rgb(5,75,20);
    background: linear-gradient(3rad, rgb(37, 42, 115) 0%, rgb(77, 110, 167) 100%); 
}