.tagline {
    animation: show forwards 990ms;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* @keyframes show {
    from {
        transform: translateX(-200%);
    }
    to {
        transform: translateX(0%);
    }
} */

.front {
    display: flex;
    flex-direction: column;
    min-height: 75vh;
    justify-content: center;
}