/* For the introduction header, mobile compatibility is a separate file */

.introduction_header {
    background-color: #2E2F2F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 60vh;
    align-items: center;
}

.introduction_header h1 {
    font-size: 2.5em;
}

.introduction_header p {
    font-size: 120%;
}

.horizon_platform {
    align-items: center;
    justify-content: center;
}
