.content_horizon {
    justify-content: center;
    background: rgb(149,230,255);
    background: linear-gradient(13deg, rgba(149,230,255,1) 1%, rgba(81,187,221,1) 100%); 
}

.content_center {
    justify-content: center;
    align-items: end;
}

.list_ui {
    list-style-type: circle;
}

.column_corp {
    align-items: center;
}